<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yyw.mapper.redEnvelope.RedEnvelopeMapper">
  <resultMap id="BaseResultMap" type="com.example.yyw.model.redEnvelope.RedEnvelope">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="envelope_type" jdbcType="INTEGER" property="envelopeType" />
    <result column="send_id" jdbcType="BIGINT" property="sendId" />
    <result column="send_date" jdbcType="TIMESTAMP" property="sendDate" />
    <result column="receive_id" jdbcType="BIGINT" property="receiveId" />
    <result column="qun_id" jdbcType="BIGINT" property="qunId" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="remain_count" jdbcType="INTEGER" property="remainCount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updation_date" jdbcType="TIMESTAMP" property="updationDate" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="enabled_flag" jdbcType="TINYINT" property="enabledFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, envelope_type, send_id, send_date, receive_id, qun_id, message, amount, `count`,
    remain_count,status,  creation_date, created_by, updation_date, updated_by, enabled_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from red_envelope
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from red_envelope
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.yyw.model.redEnvelope.RedEnvelope">
    insert into red_envelope (id, envelope_type, send_id, 
      send_date, receive_id, qun_id, 
      message, amount, `count`,
      remain_count,status,  creation_date, created_by,
      updation_date, updated_by, enabled_flag
      )
    values (#{id,jdbcType=BIGINT}, #{envelopeType,jdbcType=INTEGER}, #{sendId,jdbcType=BIGINT}, 
      #{sendDate,jdbcType=TIMESTAMP}, #{receiveId,jdbcType=BIGINT}, #{qunId,jdbcType=BIGINT}, 
      #{message,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{count,jdbcType=INTEGER}, 
      #{remainCount,jdbcType=INTEGER},#{status,jdbcType=INTEGER}, #{creationDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR},
      #{updationDate,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{enabledFlag,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.yyw.model.redEnvelope.RedEnvelope">
    insert into red_envelope
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="envelopeType != null">
        envelope_type,
      </if>
      <if test="sendId != null">
        send_id,
      </if>
      <if test="sendDate != null">
        send_date,
      </if>
      <if test="receiveId != null">
        receive_id,
      </if>
      <if test="qunId != null">
        qun_id,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="count != null">
        `count`,
      </if>
      <if test="remainCount != null">
        remain_count,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="updationDate != null">
        updation_date,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="enabledFlag != null">
        enabled_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="envelopeType != null">
        #{envelopeType,jdbcType=INTEGER},
      </if>
      <if test="sendId != null">
        #{sendId,jdbcType=BIGINT},
      </if>
      <if test="sendDate != null">
        #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveId != null">
        #{receiveId,jdbcType=BIGINT},
      </if>
      <if test="qunId != null">
        #{qunId,jdbcType=BIGINT},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="remainCount != null">
        #{remainCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updationDate != null">
        #{updationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="enabledFlag != null">
        #{enabledFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.yyw.model.redEnvelope.RedEnvelope">
    update red_envelope
    <set>
      <if test="envelopeType != null">
        envelope_type = #{envelopeType,jdbcType=INTEGER},
      </if>
      <if test="sendId != null">
        send_id = #{sendId,jdbcType=BIGINT},
      </if>
      <if test="sendDate != null">
        send_date = #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveId != null">
        receive_id = #{receiveId,jdbcType=BIGINT},
      </if>
      <if test="qunId != null">
        qun_id = #{qunId,jdbcType=BIGINT},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="count != null">
        `count` = #{count,jdbcType=INTEGER},
      </if>
      <if test="remainCount != null">
        remain_count = #{remainCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updationDate != null">
        updation_date = #{updationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="enabledFlag != null">
        enabled_flag = #{enabledFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.yyw.model.redEnvelope.RedEnvelope">
    update red_envelope
    set envelope_type = #{envelopeType,jdbcType=INTEGER},
      send_id = #{sendId,jdbcType=BIGINT},
      send_date = #{sendDate,jdbcType=TIMESTAMP},
      receive_id = #{receiveId,jdbcType=BIGINT},
      qun_id = #{qunId,jdbcType=BIGINT},
      message = #{message,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      `count` = #{count,jdbcType=INTEGER},
      remain_count = #{remainCount,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      updation_date = #{updationDate,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      enabled_flag = #{enabledFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>