<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.yyw.xmly.mapper.IXmlyCategoryMapper">
    <sql id="base_column">
        id,
        create_date as createDate,
        modify_date as modifyDate,
        status,
        order_no as orderNo,
        origin_id as originId,
        kind,
        name,
        cover_url_small as coverUrlSmall,
        cover_url_middle as coverUrlMiddle,
        cover_url_large as coverUrlLarge
    </sql>

    <select id="findByCondition" parameterType="java.util.Map" resultType="com.example.yyw.xmly.modal.xmly.XmlyCategory">
        SELECT
        <include refid="base_column"/>
        FROM xmly_category WHERE 1 = 1
        <if test="mapParams.id != null">
            AND id = #{mapParams.id}
        </if>
        <if test="mapParams.originId != null">
            AND origin_id = #{mapParams.status}
        </if>
        <if test="mapParams.kind != null">
            AND kind = #{mapParams.kind}
        </if>
        <if test="mapParams.status != null">
            AND status = #{mapParams.status}
        </if>
        ORDER BY order_no DESC
    </select>

    <!-- 添加数据 -->
    <insert id="batchSave" parameterType="java.util.List">
        INSERT INTO xmly_category(
        create_date,
        modify_date,
        origin_id,
        kind,
        name,
        cover_url_small,
        cover_url_middle,
        cover_url_large,
        status,
        order_no
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.createDate},
            #{item.modifyDate},
            #{item.originId},
            #{item.kind},
            #{item.name},
            #{item.coverUrlSmall},
            #{item.coverUrlMiddle},
            #{item.coverUrlLarge},
            #{item.status},
            #{item.orderNo}
            )
        </foreach>
    </insert>

    <update id="updateStatus" parameterType="com.example.yyw.xmly.modal.xmly.XmlyCategory">
        UPDATE xmly_category set status = #{xmlyCategory.status} where id = #{xmlyCategory.id}
    </update>
</mapper>